<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -flotex</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/grupo_rojo.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/footer.css" asp-append-version="true" />
    
</head>
<body>
    <header >
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid color-azul">
                <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index">
                 <div class="logo">
                    <img src="/imagenes/logo.png" alt="FLOTEX Logo">
                    <span class="fs-1 golden-text">FLOTEX</span>  
                    <p class="pacifico-regular golden-text">Calidad y tendencia textil</p> 
                 </div>   
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="container" class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse ">  
                    <ul class="navbar-nav flex-grow-1 text-center ">
                        <li class="nav-item">
                            <a class=" nav-link text-dark"  href="#somos" >
                                <p class="golden-text letras-grandes"> Nosotros</p>
                                </a>
                        </li>

                        <li class="nav-item">
                            <a class=" nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                <p class="golden-text letras-grandes">Home</p>
                                </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark " asp-area="" asp-controller="Home" asp-action="Privacy">
                                <p class="golden-text letras-grandes">Privacy</p>
                                </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contacto" asp-action="Index">
                                <p class="golden-text letras-grandes">Contacto</p>
                                </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Catalogo" asp-action="Index">
                                <p class="golden-text letras-grandes">Catalogo</p>
                                </a>
                        </li>
                        
                    </ul>

                 </div>  
                
                 
                 <div class="col-md-auto ml-auto mb-3">
                    <ul class="navbar-nav">
                        <partial name="_LoginPartial" />
                    </ul>
                 <partial name="_MenuAdminPartial" />
                 </div>   
            </div>
            
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
    <div class="section">
        <h4>Métodos de pago</h4>
        <img src="/imagenes/MasterCard.png" alt="MasterCard">
        <img src="/imagenes/visa.png" alt="VISA">
        <img src="/imagenes/logoYape.png" alt="Yape">
        <img src="/imagenes/logoPlin.png" alt="Plin">
    </div>
    <div class="section">
        <h4>Nuestra Compañía</h4>
        <a href="#">Sobre Nosotros</a>
        <a href="#"><img src="/imagenes/logoFb.png" alt="Facebook"></a>
        <a href="#"><img src="/imagenes/logoIg.jpg" alt="Instagram"></a>
    </div>
    <div class="section">
        <h4>Atención al Cliente</h4>
        <p>servicioalcliente@Flotex.com</p>
        <div class="contact-info">
            <img src="/imagenes/logoUbi.png" alt="Location">
            <p>Crd.21</p>
        </div>
        <div class="contact-info">
            <img src="/imagenes/logoWhatsapp.png" alt="WhatsApp">
            <p>+51 932 632 448</p>
        </div>
    </div>
    </footer>
    <!--<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - grupo_rojo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


