@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


html {
  font-size: 28px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'poppins', sans-serif;
  margin-bottom: 60px;
  background-image: url("/imagenes/fondo2.jpg");
  background-position: center center;
  background-repeat:  no-repeat;
  background-size: cover;
}


.d-item{
  height: 600px; /* Ajuste la altura según su preferencia */
  justify-content: flex-end; /* Alinear el contenido en la parte inferior */
  align-items: flex-end; /* Alinear el contenido en la parte inferior */
}

.d-img{
  max-height: 200%; /* Permitir que la imagen se ajuste a la altura del contenedor */
  object-fit: cover; /* Cubrir toda el área disponible sin distorsión */
}

.text-center {
  text-align: center;
}


h1.display-4.text-center {
  font-family: 'Montserrat', unset; /* Example font */
  font-size: 2.9rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.2;
  ;
}

h1.display-4.text-center {
  color: #03223e;
  
}

h1.display-4.text-center {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  h1.display-4.text-center {
    font-size: 2rem;
    line-height: 1.5;
  }
}

head {
  background-color: #1c2166; /* Dark navy blue background */
  color: #ffd700; /* Gold text color (default for most elements) */
}

title {
  color: #fff; /* White text color for page title */
}


